<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">INICIO</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <!--Main Content-->
    <div class="my-5">
      <div class="mx-auto w-25 " style="max-width:100%;">
        <h2 class="text-center mb-3 color-heading">Actualizar Registro de Mascotas</h2>
        <form  [formGroup]="form" (ngSubmit)="submit()" >

          <!--Email-->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="name" class="form-label">NOMBRE :</label>
              <input id="name"  formControlName="name" type="text" name="name" class="form-control" placeholder="Name" required>
            </div>
          </div>


          <!--PNo-->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="tipo" class="form-label">TIPO :</label>
              <input id="tipo"  formControlName="tipo" type="text" name="tipo" class="form-control" placeholder="tipo" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="raza" class="form-label">Raza</label>
              <input id="raza" type="text"  formControlName="raza" name="raza" class="form-control" placeholder="raza" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="ubicacion" class="form-label">UBICACION :</label>
              <input id="ubicacion" type="text"  formControlName="ubicacion" name="ubicacion" class="form-control" placeholder="ubicacion" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="descripcion" class="form-label">DESCRIPCION :</label>
              <textarea id="descripcion" type="text" name="descripcion"  formControlName="descripcion" class="form-control" placeholder="New Delhi, India" rows="3" required></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="imagenPath" class="form-label">IMAGEN :</label>
              <input id="imagenPath"  formControlName="imagenPath" type="text" name="imagenPath" class="form-control" placeholder="imagenPath" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="fechaDesaparicion" class="form-label">Fecha de Desaparición:</label>
              <input type="date" id="fechaDesaparicion" formControlName="fechaDesaparicion" class="form-control" readonly required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="estado" class="form-label">ESTADO :</label>
              <input id="estado"  formControlName="estado" type="text" name="estado" class="form-control" placeholder="estado" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="contactos" class="form-label">CONTACTOS :</label>
              <input id="contactos" type="text" name="contactos"  formControlName="contactos" class="form-control" placeholder="contactos" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group">
              <button [disabled]="!form.valid" class="btn btn-primary w-100" type="submit" value="Submit">Button</button>
            </div>
          </div>

          <div>

          </div>
        </form>

      </div>
    </div>

</body>
</html>
