<!-- nav -->
<nav class="navbar navbar-expand px-3 navItems">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Colitas Felices</a>
     <!--<a class="nav-item nav-link" routerLink="/nosotros">Nosotros</a>--> 
      <a class="nav-item nav-link" routerLink="/donaciones">Donar</a>
      <a class="nav-item nav-link" routerLink="/servicio">Cuidado de colit@s</a>
      <a class="nav-item nav-link" routerLink="/adopta">Adopta</a>

       <a class="nav-item nav-link" routerLink="/viewusers">Patitas Perdidas</a>


       <!-- <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/registro">Registro</a>
      <a class="nav-item nav-link" routerLink="/contactanos">Contactanos</a>
      <a class="nav-item nav-link" routerLink="/noticias">Noticias</a> -->
  </div>
</nav>


<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
