<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Halltrix - Productos</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>
        <div>

            <div class="container-cards">

                <input type="radio" id="TODOS" name="Categorias" value="TODOS">
                <input type="radio" id="VETERINARIO" name="Categorias" value="VETERINARIO">
                <input type="radio" id="PETSHOP" name="Categorias" value="PETSHOP">
                <input type="radio" id="ASEOCUIDADO" name="Categorias" value="ASEOCUIDADO">
                <input type="radio" id="CUIDADORES" name="Categorias" value="CUIDADORES">
                <input type="radio" id="CONSEJOS" name="Categorias" value="CONSEJOS">
                

                <div class="container-category">
                    <label for="TODOS">TODOS</label>
                    <label for="VETERINARIO">VETERINARIO</label>
                    <label for="PETSHOP">PETSHOP</label>
                    <label for="ASEOCUIDADO">ASEO Y CUIADADO</label>
                    <label for="CUIDADORES">CUIDADORES</label>
                    <label for="CONSEJOS">CONSEJOS</label>
                    
                </div> <!--container-category-->

                <div class="cards" id="">

                    <div class="card" data-category="VETERINARIO">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/VETERINARIO/descarga.jpg" alt=""> 
                        </div><!--ctn-img-->
                        <h2 class="titulo">MAR DE COLAS</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                            <li>WhatsApp</li>
                        </ul>

                        <h6 class="precio">Descuentos </h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="2">VISITAR PÁGINA</button></a>
                    </div><!--card-->
                                

                    <div class="card" data-category="VETERINARIO">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/VETERINARIO/descarga1.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">PETTIS PAN</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                            <li>WhatsApp</li>
                        </ul>

                        <h6 class="precio">Descuentos</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="2">VISITAR PÁGINA</button></a>
                    </div><!--card-->

                    <div class="card" data-category="VETERINARIO">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/VETERINARIO/descarga2.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">ASUNCIÓN CLINICA </h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                            <li>WhatsApp</li>
                        </ul>

                        <h6 class="precio">Descuentos</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="3">VISITAR PÁGINA</button></a>
                    </div><!--card-->

                    <div class="card" data-category="VETERINARIO">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/VETERINARIO/descarga3.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">GATO POLIS</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                            <li>WhatsApp</li>
                        </ul>

                        <h6 class="precio">Descuentos</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="4">VISITAR PÁGINA</button></a>
                    </div><!--card-->


                    <div class="card" data-category="PETSHOP">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/PETSHOP/descarga.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">PETSHOP´S ANGELITO</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                            <li>WhatsApp</li>
                        </ul>
                        <h6 class="precio">Descuentos</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="8">VISITAR PÁGINA</button></a>
                    </div><!--card-->

                    <div class="card" data-category="PETSHOP">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/PETSHOP/descarga1.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">PETSHOP MARIA BOUCHER</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                            <li>WhatsApp</li>
                        </ul>

                        <h6 class="precio">Descuentos</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="8">VISITAR PÁGINA</button></a>
                    </div><!--card-->

                    <div class="card" data-category="PETSHOP">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/PETSHOP/descarga2.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">TIENDA MIVETSHOP FELIZ</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                            <li>WhatsApp</li>
                        </ul>

                        <h6 class="precio">COMPRA CON DESCUENTO!</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="8">VISITAR PÁGINA</button></a>
                    </div><!--card-->

                    <div class="card" data-category="PETSHOP">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/PETSHOP/descarga3.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">TIENDA VIRTUAL NARICITAS</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                            <li>WhatsApp</li>
                        </ul>

                        <h6 class="precio">COMPRA ONLINE</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="8">VISITAR PÁGINA</button></a>
                    </div><!--card-->


                    <div class="card" data-category="ASEOCUIDADO">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/ASEOCUIDADO/descarga.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2>PELIQUERIA SAN ROCK</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                        </ul>

                        <h6 class="precio">Trae a tu pequeño</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="9">VISITAR PÁGINA</button></a>
                    </div><!--card-->

                    <div class="card" data-category="ASEOCUIDADO">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/ASEOCUIDADO/descarga1.png" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo"> AMORES GOLFOS</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                        </ul>

                        <h6 class="precio">Un estilo sobrio</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="10">VISITAR PÁGINA</button></a>
                    </div><!--card-->

                    <div class="card" data-category="ASEOCUIDADO">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/ASEOCUIDADO/descarga2.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">PELUQUERIA CHUQUITO</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                        </ul>

                        <h6 class="precio">Trae a tu engreido</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="11">VISITAR PÁGINA</button></a>
                    </div><!--card-->

                    <div class="card" data-category="ASEOCUIDADO">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/ASEOCUIDADO/descarga3.png" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">PELUQUERIA NANUQUI
						WOOF MIAU</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                        </ul>

                        <h6 class="precio">Cortes a bajo precio</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="12">VISITAR PÁGINA</button></a>
                    </div><!--card-->


                    <div class="card" data-category="CUIDADORES">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/CUIDADORES/descarga.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">Guarderia Cesar Pet</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                        </ul>

                        <h6 class="precio">Los mejores cuidados</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="15">VISITAR PÁGINA</button></a>
                    </div><!--card-->

                    <div class="card" data-category="CUIDADORES">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/CUIDADORES/descarga1.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">Guardería Win Can</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                        </ul>

                        <h6 class="precio">Contamos con varios servicios</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="16">VISITAR PÁGINA</button></a>
                    </div><!--card-->

                    <div class="card" data-category="CUIDADORES">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/CUIDADORES/descarga2.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">GUARDERIA PARA ANIMALES PEQUEÑOS</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                        </ul>

                        <h6 class="precio">CORAZÓN ANIMAL LATINOAMERICANO</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="17">VISITAR PÁGINA</button></a>
                    </div><!--card-->



                    <div class="card" data-category="CUIDADORES">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/CUIDADORES/descarga3.jpg" alt="">
                        </div><!--ctn-img-->
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                        </ul>

                        <h6 class="precio">No te lo pierdas</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="1">VISITAR PÁGINA</button></a>
                    </div><!--card-->



                    <div class="card" data-category="CONSEJOS">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/CONSEJOS/descarga.jpg" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">USUARIO </h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                        </ul>

                        <h6 class="precio">Toma nota</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="20">VISITAR PÁGINA</button></a>
                    </div><!--card-->

                    <div class="card" data-category="CONSEJOS">
                        <div class="ctn-img">
                        <img src="/assets/servicio/img/CONSEJOS/descarga1.png" alt="">
                        </div><!--ctn-img-->
                        <h2 class="titulo">USUARIO</h2>
                        <ul class="ctn-tag">
                            <li>Facebook</li>
                        </ul>

                        <h6 class="precio">Lee con cuidado</h6>
                        <a href="https://vetplan.es/cuidado-animal/consejos-tener-mascota-tenencia-responsable/"><button id="boton" class="#" data-id="21">VISITAR PÁGINA</button></a>
                    </div><!--card-->



                </div><!--cards-->

            </div> <!--container-cards-->
            
            <!-------Boton------>
            <div id="boton-up">
                <i class="fas fa-chevron-up"></i>
            </div>
            <!------Footer------->


        </div><!--container-all-->
   

 
    <script src="../servicio/js/java.js"></script>


</body>
</html>

